{% extends "base.html" %}

{% block title %} - Home{% endblock %}

{% block content %}
<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-header">
                <h4 class="mb-0">Welcome to the Election System</h4>
            </div>
            <div class="card-body">
                <h5>Hello, {{ username }}!</h5>
                <p>What would you like to do today?</p>
                <div class="d-grid gap-2 d-md-block">
                    <a href="{{ url_for('host') }}" class="btn btn-primary me-md-2">Host an Election</a>
                    <a href="{{ url_for('participate') }}" class="btn btn-success">Participate in an Election</a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}